#targetCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    z-index: -1;
}

#sourceCanvas {
    display: none;
}

input {
    display: inline-block;
}